*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 97,5%;
    height: 10%;
    border: black solid 2px;
    margin : 10px;
    padding:10px 10px 10px 10px;
}
.box {
    border: black solid 2px;
    margin : 10px;
    padding:0px 10px 0px 10px;
}

.bgBlue {
    background-color: cyan;
    padding: 3px;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

li {
    margin-right: 10px;
}


a{
    text-decoration: none;
    color: black;
}

.containerPlacementMain {
 display: flex;
 width: 100%;
 height: 60%;
}

.placementMain {
    width: 80%;
    height: 100%;
}

.firstArticle {
    border: black solid 2px;
    margin-top: 10px;
    padding: 5px;
}


.formContainer {
    display: flex;
    flex-direction: row;
    border: black solid 2px;
    margin-top: 5px;
    padding-bottom: 5px;
    height: 100%;
}

.labelContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
}

label{
    margin: 18px 0px 0px 5px;
}

.labelMargin {
    margin-top: 21px;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    margin: 18px 5px 0px 5px;
}

.marginInput{
    margin: 18px 5px 0px 5px;
}

.placementBtn {
    display: flex;
    justify-content: flex-end;

}
.buttonForm {
    width: 150px;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
}

.placementAside {
    width: 20%;
    height: 100%;
    padding-top: 10px;
}

footer {
    width: 100%;
    height: 27%;
    display: flex;
    align-items: flex-end;
}

address {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

address > p {
    margin-left: 10px;
}